
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <H1>Proje OOP </H1>

            <H1>Mesaj Listesi </H1>
            <h2>@ViewBag.m1</h2>
            <h2>@ViewBag.m2</h2>
    <h2>@ViewBag.m3</h2>
    <h2>@ViewBag.k</h2>
    <a href="/Default/Urunler">Ürünler Sayfası</a>
    <a href="/Default/Musteriler">Ürünler Sayfası</a>

</head>
<body>
</body>
</html>
