
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <H1>MÜŞTERİLER OOP </H1>

    <h2>@ViewBag.musterimesaj</h2>
    <h2>@ViewBag.k</h2>
    <a href="/Default/Index">Index Sayfası</a>
    <a href="/Default/Urunler">Müşteriler Sayfası</a>

</head>
<body>
</body>
</html>
