
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Urunler</title>

    <h1>Burası Ürünler Sayfası</h1>

    <a href="/Default/Index">İndex Sayfası</a>
    <a href="/Default/Musteriler">Müşteriler Sayfası</a>

    <h3>Toplam : @ViewBag.toplam</h3>
</head>
<body>
</body>
</html>
